@font-face {
    font-family: "comforta";
    src: url("./utils/font/Comfortaa-Regular.otf") format("otf"),
    url("./utils/font/Comfortaa-Regular.ttf") format("ttf"),
    url("./utils/font/Comfortaa-Regular.woff") format("woff");
}


* {
    font-family: comforta;
}

body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: #24382e;
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

